.nav-container {
  background-color: rgb(101, 144, 179);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;

  .nav-logo {
    display: flex;

    .logo-icon {
      font-size: 30px;
      margin-right: 7px;
    }
  }

  .nav-list {
    .nav-link {
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease;

      &:first-child {
        margin-right: 20px;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.753);
        transform: scale(1.2);
      }
    }
  }
}
