.homeview-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .homeview-search {
    margin: 30px 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 10px;

    .search-icon {
      color: #444;
      margin: 0 5px;
    }

    input {
      border-radius: 10px;
      height: 25px;
      border: none;
      width: 100%;
      background-color: transparent;
      &:focus {
        outline: none;
      }

      &::placeholder {
        padding: 0 5px;
        font-size: 15px;
      }
    }
  }

  .homeview-main {
    background-color: rgb(62, 90, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    border: 4px solid rgba(219, 225, 241, 0.658);
    overflow: hidden;

    .main-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 10px;
      padding: 10px 20px;

      .btn-top-right {
        background-color: rgb(60, 79, 107);
        color: #fff;
        border: 2px solid #fff;
        font-size: 15px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.1s ease;

        &:hover {
          background-color: #f4f4f4;
          color: rgb(38, 48, 65);
          border: 2px solid rgb(60, 79, 107);
        }
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      h1 {
        margin-bottom: 100px;
      }

      .main-bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        .day-wrapper {
          margin-right: 20px;
          border: 3px solid rgba(219, 225, 241, 0.658);
          background-color: rgba(219, 225, 241, 0.164);
          padding: 15px;
        }
      }
    }
  }
}
