@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  background-color: rgb(206, 206, 219);
  color: #fff;
}

.app {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .app {
    height: 200vh;
  }
}
